body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
#filter-section {
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 10px;
}

#ingredients-list label {
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
}

#filter-btn,
#clear-btn {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 800px;
}
