<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Recipe Recommender</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
 <body>
  <h1>Recipe Recommender</h1>

  <section id="filter-section">
    <h3>Select ingredients you have:</h3>

    <div id="ingredients-list">
      <label><input type="checkbox" value="egg"> Egg</label>
      <label><input type="checkbox" value="tomato"> Tomato</label>
      <label><input type="checkbox" value="rice"> Rice</label>
      <label><input type="checkbox" value="onion"> Onion</label>
      <label><input type="checkbox" value="carrot"> Carrot</label>
      <label><input type="checkbox" value="peas"> Peas</label>
      <label><input type="checkbox" value="maggi"> Maggi</label>
      <!-- you can add more later -->
    </div>

    <button id="filter-btn">Filter Recipes</button>
    <button id="clear-btn">Clear</button>
  </section>

  <hr />

  <div id="recipes-container">
    <!-- Recipes will be shown here -->
  </div>

  <script src="/static/js/app.js"></script>
</body>
 
 

  
</body>
</html>
